<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Body0</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>2000</string>
		<key>y</key>
		<string>1500</string>
	</dict>
	<key>Body1</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>1853</string>
		<key>y</key>
		<string>1853</string>
	</dict>
	<key>Body2</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>1370</string>
		<key>y</key>
		<string>1982</string>
	</dict>
	<key>Body3</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>1117</string>
		<key>y</key>
		<string>1821</string>
	</dict>
	<key>Body4</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>1030</string>
		<key>y</key>
		<string>1329</string>
	</dict>
	<key>Body5</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>1329</string>
		<key>y</key>
		<string>1030</string>
	</dict>
	<key>Body6</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>1671</string>
		<key>y</key>
		<string>1030</string>
	</dict>
	<key>Body7</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>1969</string>
		<key>y</key>
		<string>1329</string>
	</dict>
	<key>Body8</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>3000</string>
		<key>y</key>
		<string>1500</string>
	</dict>
	<key>Body9</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>2560</string>
		<key>y</key>
		<string>2560</string>
	</dict>
	<key>Body10</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>1111</string>
		<key>y</key>
		<string>2948</string>
	</dict>
	<key>Body11</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>351</string>
		<key>y</key>
		<string>2464</string>
	</dict>
	<key>Body12</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>90</string>
		<key>y</key>
		<string>987</string>
	</dict>
	<key>Body13</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>987</string>
		<key>y</key>
		<string>90</string>
	</dict>
	<key>Body14</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>2013</string>
		<key>y</key>
		<string>90</string>
	</dict>
	<key>Body15</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>2013</string>
		<key>y</key>
		<string>90</string>
	</dict>
	<key>Body16</key>
	<dict>
		<key>type</key>
		<string>planet</string>
		<key>x</key>
		<string>2909</string>
		<key>y</key>
		<string>987</string>
	</dict>
	<key>Body17</key>
	<dict>
		<key>type</key>
		<string>flag</string>
		<key>x</key>
		<string>2500</string>
		<key>y</key>
		<string>1500</string>
	</dict>
	<key>Body18</key>
	<dict>
		<key>type</key>
		<string>flag</string>
		<key>x</key>
		<string>2207</string>
		<key>y</key>
		<string>2207</string>
	</dict>
	<key>Body19</key>
	<dict>
		<key>type</key>
		<string>flag</string>
		<key>x</key>
		<string>1500</string>
		<key>y</key>
		<string>2500</string>
	</dict>
	<key>Body20</key>
	<dict>
		<key>type</key>
		<string>flag</string>
		<key>x</key>
		<string>793</string>
		<key>y</key>
		<string>2207</string>
	</dict>
	<key>Body21</key>
	<dict>
		<key>type</key>
		<string>flag</string>
		<key>x</key>
		<string>500</string>
		<key>y</key>
		<string>1500</string>
	</dict>
	<key>Body22</key>
	<dict>
		<key>type</key>
		<string>flag</string>
		<key>x</key>
		<string>793</string>
		<key>y</key>
		<string>793</string>
	</dict>
	<key>Body23</key>
	<dict>
		<key>type</key>
		<string>flag</string>
		<key>x</key>
		<string>1500</string>
		<key>y</key>
		<string>500</string>
	</dict>
	<key>Body24</key>
	<dict>
		<key>type</key>
		<string>flag</string>
		<key>x</key>
		<string>2207</string>
		<key>y</key>
		<string>793</string>
	</dict>
</dict>
</plist>
